# OSX
.DS_Store
.gitignore.swp

# Thumbnails
._*

# ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# python
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries

